<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar_sesion()">
        Salir
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Lista de productos -->
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <img [src]="product.thumbnail" alt="Imagen del producto">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.title }}</h2>
        <p>Precio: ${{ product.price }}</p>
        <p>Descuento: {{ product.discountPercentage }}%</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Infinite Scroll para cargar más productos -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="cargar_mas_productos($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando más productos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
